# Python
__pycache__/
*.pyc

# Database
*.db
attendance.db

# Face Dataset
face_dataset/

# Reports
reports/

# VS Code
.vscode/

# Logs
*.log

# Environment
.env
server/.env

# Node
node_modules/
client/node_modules/
server/node_modules/

# Build
dist/
build/
coverage/
client/dist/
server/dist/

# ZIP backups
*.zip